<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hasFragileUserData="false"
        android:icon="@drawable/ic_nethop_tile"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetHop.Companion"
        android:usesCleartextTraffic="false">
        <service
            android:name=".NetHopTileService"
            android:exported="true"
            android:icon="@drawable/ic_nethop_tile"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <activity
            android:name=".WebUiEntryActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
